@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 400;
}

* {
    font-family: "Open Sans Regular", sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color:#ffffff;
}

h1, h2, h3, h4, #imgInput, .submitBtn, .wallBtn {
    font-family: "Open Sans Bold", sans-serif;
}

h1, h2 {
    color: #920ebd;
}

h2 {
    margin: 0 0 0.5em;
}

h3 {
    margin: 0 0 0.4em;
}
h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

p, li, label {
    font-size: 1em;
}

ol {
    padding: 0 1em;
}

li {
    margin: 0.5em 0;
}

label {
    min-width: fit-content;
}

strong {
    padding: 0 0.1em;
    color: #ffffff;
    background-color: #920ebd;
}

.top {
    padding: 12.5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
    background-color: #272135;
    h1, h2 {
        margin: 0;
    }
    h2 {
        font-size: 2.5em;
        color: #ffffff;
    }
}

.what {
    padding: 5% 12.5%;
    background-color: #11111c;
}

.cautions {
    padding: 5% 12.5%;
    background-color: #272135;
}

.caution {
    margin: 5% 0;
    padding: 4% 5%;
    border-radius: 24px;
    background-color: #11111c;
}

.need {
    padding: 5% 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11111c;
}

.title {
    text-align: center;
    margin: 0;
}

.checkboxes {
    display: flex;
    gap: 2em;
    margin: 5% 10%;
    background-color: #11111c;
}

.needles {
    height: fit-content;
    padding: 2.5em;
    gap: 1.5em;
    border-radius: 24px;
    background-color: #272135;
    h3 {
        margin-top: 0;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.item {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="checkbox"] {
    appearance: none;   
    vertical-align: middle; 
    position: relative;
    bottom: -0.06em;
    width: 1em;
    height: 1em;
    font: inherit;
    color: #ffffff;
    background-color: #11111c;
    border: 0.15em solid #ffffff;
    border-radius: 0.15em;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em #ffffff;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: #920ebd solid 2px;
}

.steps {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272135;
    text-align: center;
}

.wallType {
    margin: 1em 0;
    display: flex;
    gap: 1em;
}

.wallBtn {
    flex: 1;
    height: 3em;
    border: none;
    border-radius: 12px;
    font-size: 1.5em;
    background-color: #11111c;
    color: #ffffff;
}

.wallBtn:hover {
    transition: 0.25s;
    scale: 1.025;
}

.step {
    display: flex;
    flex-direction: column;
    margin: 3.75% 13.75%;
    padding: 2.5% 3.5%;
    border-radius: 24px;
    background-color: #11111c;
    text-align: left;
}

.substep {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: -0.6% 0 2.5%;
}

.photo {
    width: 100%;
    height: auto;
    align-self: center;
}

.feedback {
    padding: 5% 12.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #11111c;
}

.form {
    margin: 2.5% 5.35%;
    padding: 3%;
    text-align: left;
    border-radius: 24px;
    background-color: #272135;
}

.formInput {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    label {
        font-family: "Open Sans Bold", sans-serif;
        font-size: 1.5em;
    }
}

input[type=text], textarea {
    padding: 0.8em;
    box-sizing: border-box;
    border: none;
    outline: transparent solid 3px;
    border-radius: 5px;
    background-color: #11111c;
    font-size: 1em;
    color: #f5f5f5;
    transition: 0.3s;
}

input[type=text]:focus, textarea:focus {
    outline: #920ebd solid 3px;
}

#nameDiv, #imgDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nameDiv {
    margin-top: 0;
}

#nameInput {
    flex: 1;
}

#imgInput { 
    padding: 0.8em;
    border: none;
    border-radius: 6px;
    background-color: #920ebd;
    color: #ffffff;
}

textarea {
    resize: none;
    height: 10.5em;
}

#expDiv {
    position: relative;
}

#charDiv {
    position: absolute;
    bottom: 0;
    width: 4em;
    text-align: right;
}

#charCount {
    color: #d3d3d3;
}

.submit {
    display: flex;
    justify-content: center;
}

.submitBtn {
    flex: 1;
    padding: 0.5em;
    border: none;
    border-radius: 6px;
    background-color: #920ebd;
    font-size: 1.5em;
    color: #ffffff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0;
    background-color: #272135;
    a {
        margin: 0 0.5em;
        padding: 0;
    }
}

a > img {
    width: 2em;
    height: 2em;
}