@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 400;
}

* {
    font-family: "Open Sans Regular", sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color:#ffffff;
}

h1, h2, h3, h4, .uploadBtn, .submitBtn {
    font-family: "Open Sans Bold", sans-serif;
}

h1, h2 {
    color: #9f0dcf;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 30px;
}

p, li, label {
    font-size: 18px;
}

li {
    margin: 1vw 0;
}

strong {
    padding: 0 5px;
    color: #ffffff;
    background-color: #9f0dcf;
}
{
    font
}
.header {
    padding: 200px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-color: #272135;
    h1, h3 {
        margin: 0;
    }
}

.what {
    padding: 60px 150px;
    background-color: #11111c;
    h2 {
        margin-top: 0;
    }
}

ol {
    padding: 0 18px;
}

.cautions {
    padding: 60px 150px;
    background-color: #272135;
}

.caution {
    margin: 60px 0;
    padding: 24px 60px 36px;
    border-radius: 24px;
    background-color: #11111c;
}

.need {
    padding: 60px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11111c;
    h2, p {
        text-align: center;
        margin: 0;
    }
}

.checkboxes {
    display: flex;
    margin: 50px;
    padding: 50px;
    gap: 50px;
    border-radius: 24px;
    background-color: #272135;
}

.needles {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.list {
    display: flex;
    flex-direction: column;
    h4 {
        margin: 0.5em;
    }
}

.item {
    display: grid;
    margin: 0.5em;
    grid-template-columns: 1em auto;
    gap: 0.8em;
}


input[type="checkbox"] {
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;    
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em white;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.steps {
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272135;
    h2 {
        align-self: center;
    }
}

.step {
    margin: 60px 0;
    padding: 24px 60px;
    border-radius: 24px;
    background-color: #11111c;
}

.feedback {
    padding: 60px 150px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #11111c;
    h2 {
        margin: 0;
    }
}

.form {
    margin: 60px 150px;
    padding: 40px 60px;
    text-align: left;
    border-radius: 24px;
    background-color: #272135;
}

.formInput {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    label {
        font-family: "Open Sans Bold", sans-serif;
        font-size: 24px;
    }
}

input[type=text], textarea {
    padding: 15px 10px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #11111c;
    font-size: 18px;
    color: whitesmoke;
    transition: 0.3s;
}

input[type=text]:focus, textarea:focus {
    outline: none;
    border: 2px solid #9f0dcf;
}

#imgInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.uploadBtn {
    max-width: 250px;
    padding: 4px 6px;
    border: none;
    border-radius: 6px;
    background-color: #9f0dcf;
    color: #ffffff;
}

#GET-exp {
    height: 200px
}

textarea {
    resize: none;
}


.submit {
    display: flex;
    justify-content: center;
}

.submitBtn {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #9f0dcf;
    font-size: 24px;
    color: #ffffff;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272135;
    a {
        margin: 0 5px;
        padding: 0;
    }
}

a > img {
    width: 30px;
    height: 30px;
}