@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 400;
}

* {
    font-family: "Open Sans Regular", sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color:#ffffff;
}

h1, h2, h3, h4 {
    font-family: "Open Sans Bold", sans-serif;
}

h1, h2 {
    color: #9f0dcf;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 48px;Lijar madera
}

h3 {
    font-size: 30px;
}

p, li, label {
    font-size: 18px;
}

li {
    margin: 1vw 0;
}

strong {
    padding: 0 5px;
    color: #ffffff;
    background-color: #9f0dcf;
}

.header {
    padding: 200px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-color: #272135;
    h1, h3 {
        margin: 0;
    }
}

.what {
    padding: 60px 150px;
    background-color: #11111c;
    h2 {
        margin-top: 0;
    }
}

ol {
    padding: 0 18px;
}

.cautions {
    padding: 60px 150px;
    background-color: #272135;
}

.caution {
    margin: 60px 0;
    padding: 24px 60px;
    border-radius: 24px;
    background-color: #11111c;
}

.need {
    padding: 60px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11111c;
    h2, p {
        text-align: center;
        margin: 0;
    }
}

.checkboxes {
    display: flex;
    margin: 50px;
    padding: 50px;
    gap: 50px;
    border-radius: 24px;
    background-color: #272135;
}

.needles {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.list {
    display: flex;
    flex-direction: column;
    h4 {
        margin: 0.5em;
    }
}

.item {
    display: grid;
    margin: 0.5em;
    grid-template-columns: 1em auto;
    gap: 0.8em;
}


input[type="checkbox"] {
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;    
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em white;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.steps {
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272135;
    h2 {
        align-self: center;
    }
}

.step {
    margin: 60px 0;
    padding: 24px 60px;
    border-radius: 24px;
    background-color: #11111c;
}

.form {
    padding: 60px 0; 
    display: flex;
    flex-direction: column;
    background-color: #11111c;
}



